<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Planner</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
</head>
<body>
    <div class="page-wrap">
        <nav class="navbar navbar-inverse navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/Images/logo.png" alt="page logo" />
                    </a>
                    <h1 class="lobster primary">Leprechauns&nbsp;-&nbsp;Events</h1>
                </div>
                @await Html.PartialAsync("LoginPartial")
            </div>
        </nav>

        <!-- RenderBody will be replaced by actual view -->
        <div class="container-fluid clearleft">
            <div class="row">
                <div class="col-md-2">
                    @await Html.PartialAsync("Sidebar")
                </div>
                <div class="col-md-9">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer secondarybg">
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            @if (DateTime.Today.Year == 2018)
            {
                <span class="text-white">© 2018 Marcel Jurtz - </span>
            }
            else
            {
                <span>© 2018 - @DateTime.Today.Year Marcel Jurtz - </span>
            }

            <a class="text-white" href="mailto:marcel@mjurtz.com">marcel@mjurtz.com</a>
        </div>
        <!--/.Copyright-->

    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>