<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Planner</title>
    @*TODO <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.min.css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>

    @*<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                @*<div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                @*<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div>
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        @await Component.InvokeAsync("CategoryMenu")
                        <li><a asp-controller="Contact" asp-action="Index">Profil</a></li>
                        @await Component.InvokeAsync("ShoppingCartSummary")
                    </ul>
                    @await Html.PartialAsync("LoginPartial")
                </div>
            </div>
        </nav>*@

    <nav class="navbar navbar-inverse navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                @*<a class="navbar-brand" href="#">WebSiteName</a>*@
                <img src="~/Images/logo.png" alt="page logo" />
                <h1 class="lobster primary">Leprechauns&nbsp;-&nbsp;Events</h1>
            </div>
            <ul class="nav navbar-nav">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                @*@await Component.InvokeAsync("CategoryMenu")*@
                <li><a asp-controller="Contact" asp-action="Index">Profil</a></li>
                @*@await Component.InvokeAsync("ShoppingCartSummary")*@
            </ul>
            @await Html.PartialAsync("LoginPartial")
        </div>
    </nav>

    <!-- RenderBody will be replaced by actual view -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                @await Html.PartialAsync("Sidebar")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>