<header class="navbar">
    <img src="~/Images/logo.png" alt="page logo" />
    <h1>Leprechauns - Events</h1>
    <ul>
        <li><a href="#">Mein Profil</a></li>
        <li><a href="#">Abmelden</a></li>
    </ul>
</header>

