@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

<div class="sidebar">
    <h2>Menü</h2>

    @if (User.IsInRole("administrator"))
    {
        <ul>
            <li>
                Administration
                <ul>
                    <li>Teams</li>
                    <li>Benutzer</li>
                    <li>Events</li>
                    <li>
                        Einstellungen
                        <ul>
                            <li>Teamrollen</li>
                            <li>Eventrollen</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    }

    <ul>
        <li>Meine Events</li>
        <li>Offene Events</li>
        <li>Einstellungen</li>
    </ul>

    <ul>
        <li>Abmelden</li>
    </ul>
</div>