@model UserSettingsViewModel

<h2>Einstellungen</h2>

<p>Hier findest du verschiedene Optionen, dein Profil zu bearbeiten.</p>

<h3>Passwort ändern</h3>
<form asp-controller="UserSettings" asp-action="Index" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPasswordConfirmation" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewPasswordConfirmation" class="form-control" />
            <span asp-validation-for="NewPasswordConfirmation" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Speichern" />
        </div>
    </div>
</form>

@if(User.IsInRole(RoleNames.ROLE_ADMIN))
{
<h3>Benachrichtigungen</h3>
<form asp-controller="UserSettings" asp-action="Index" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <hr />

    <input asp-for="NotificationConfiguration.NewUserRegistered" />
    <label asp-for="NotificationConfiguration.NewUserRegistered"></label>
    <br />

    <input asp-for="NotificationConfiguration.UserParticipationUpdated" />
    <label asp-for="NotificationConfiguration.UserParticipationUpdated"></label>
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Speichern" />
        </div>
    </div>
</form>
}