@{
    Layout = "_LoggedOutLayout";
}

<h2>Registrierung abgeschlossen</h2>
<p>
    Vielen Dank für deine Registrierung! Wir werden deine Daten überprüfen und deinen Account freischalten.<br />
    Sobald dein Profil aktiviert wurde, werden wir dir eine Benachrichtigung per E-Mail senden.
</p>