@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Planner</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="text-danger">Irgendetwas ist schief gelaufen</h2>
            <h3 class="text-danger">Wir sind daran, eine Lösung für das Problem zu finden. Bitte versuche es später erneut.</h3>
        </div> 
    </div>
</body>
</html>