body {
  min-height: 100%;
  /*padding-bottom: @footerSpacing;*/
  font-family: 'Source Sans Pro', sans-serif;
}
.login-header {
  margin: 0 auto;
}
.login-header img {
  display: block;
  margin: 0 auto;
  max-width: 128px;
}
h1 {
  font-family: 'Lobster 1.3', sans-serif;
}
.primary {
  color: white;
}
.primarybg {
  background-color: white;
}
.secondary {
  color: #E3001B;
}
.secondarybg {
  background-color: #E3001B;
}
.navbar-inverse {
  background-color: #E3001B;
}
.navbar-nav {
  flex-direction: row;
}
.navbar {
  background-color: #E3001B;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 0;
}
.navbar h1 {
  display: inline;
  float: left;
  color: white;
  font-size: 2.5em;
}
.navbar img {
  float: left;
  max-width: 128px;
  margin-right: 25px;
  padding: 10px;
}
.navbar ul {
  float: right;
  list-style-type: none;
  vertical-align: middle;
}
.navbar ul li {
  float: left;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clearleft {
  clear: left;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -80px;
}
.page-footer,
.page-wrap:after {
  height: 80px;
}
.page-wrap:after {
  content: "";
  display: block;
}
/*-------------------------------*/
/*           Sidebar             */
/*-------------------------------*/
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  text-decoration: none;
  background-color: transparent;
  color: white;
}
#sidebar-wrapper {
  z-index: 1000;
  width: 100%;
  height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}
.sidebar-nav li a {
  display: block;
  color: #161616;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
  font-family: sans-serif;
}
.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  background-color: #E3001B;
}
.sidebar-nav .sidebar-brand {
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 20px;
  margin-bottom: 15px;
}
.sidebar-nav .sidebar-brand:before {
  background-color: transparent;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width 0.2s ease-in;
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
}
