@model News

<h3>Neuen Eintrag hinzufügen</h3>
<form asp-action="Add" method="post" role="form">
    <div class="form-group">
        <!-- Bezeichnung -->
        <label asp-for="Content" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Content" class="form-control" />
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Speichern" />
        </div>
    </div>
</form>