@model HomeViewModel
@inject IViewLocalizer _localizer

<h2>@_localizer[HomeStrings.HM_CAPTION_INDEX]</h2>
@foreach (var news in Model.News)
{
    <p>
        <span>@news.Key.ToShortDateString()</span>
        <ul>
            @foreach(var item in news)
            {
                <li>@item.Content</li>
            }
        </ul>
    </p>
}