@model HomeViewModel

<p>@Model.WelcomeText</p>

<h2>Neuigkeiten</h2>
@foreach (var news in Model.News)
{
    <p>
        <span>@news.Key.ToShortDateString()</span>
        <ul>
            @foreach(var item in news)
            {
                <li>@item.Content</li>
            }
        </ul>
    </p>
}