@model HomeViewModel

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@if (SignInManager.IsSignedIn(User))
{
<p>Hello @UserManager.GetUserName(User)!</p>
}
else
{
    <p>No User logged in</p>
}

